<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/inserimento.css">
  <title>Aggiungi Veicolo</title>
</head>

<body>

    <!-- NAVBAR-->
    <div class="container">
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://localhost:8080/">
              <img src="/img/Color_tè_scuro_Illustrativo_Consegne_Logo_servizi_di_consegna__2_-removebg-preview.png" alt="" width="130">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="bi bi-list"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
              <li class="nav-item">
                <a class="nav-link" href="/aboutus">Chi siamo</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Città</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Milano</a></li>
                  <li><a class="dropdown-item" href="#">Roma</a></li>
                </ul>
              </li>
              <li class="nav-item verticalerule">
                  <a class="nav-link ">|</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link ms-2" id="pulsanteProfilo" href="#" tabindex="-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"><i id="iconaProfilo" class="bi bi-person-circle"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i id="pannello" class="bi bi-gear-fill"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>


  <div class="container">
    <div id="wrap" class="input">
      <header class="input-header">
        <h2><i>Aggiungi Veicolo</i></h2>
      </header>
      <section class="input-content">
        <h2>Informazioni Veicolo</h2>
        <div class="container">
          <div class="row">
            <div class="input-group mb-3">
              <div class="input-group-prepend" >
                <button class="btn btn-outline-secondary" id="dynamicSearch" type="button">Cerca</button>
              </div>
              <input type="text" placeholder="Cerca un indirizzo" id="searchInput"class="form-control">
            </div>
            <div class="col-lg-4">
              <dl class="inputbox">
                <dd class="inputbox-content">
                  <input type="text" class="" id="descrizione" required />
                  <label for="descrizione">Descrizione</label>
                  <span class="underline"></span>
                </dd>
              </dl>
              <dl class="inputbox">
                <dd class="inputbox-content">
                  <input type="text" class="" id="coordinate" required />
                  <label for="coordinate">Coordinate</label>
                  <span class="underline"></span>
                </dd>
              </dl>        
            </div>
              <div class="col-lg-4 mb-3">
                <dl class="inputbox">
                  <dd class="inputbox-content">
                    <select id="alimentazione" class="form-select" aria-label="Default select example">
                      <option selected>Scegli alimentazione</option>
                      <option value="BENZINA">Benzina</option>
                      <option value="ELETTRICA">Elettrica</option>
                      <option value="GPL">Gpl</option>
                      <option value="DIESEL">Diesel</option>
                      <option value="IBRIDA">Ibrida</option>
                    </select>
                  </dd>
                </dl>
                <dl class="inputbox">
                  <dd class="inputbox-content">
                    <input type="text" class="" id="citta" required />
                    <label for="citta">Città</label>
                    <span class="underline"></span>
                  </dd>
                </dl>                    
              </div>
              <div class="col-lg-4">
                <dl class="inputbox">
                  <dd class="inputbox-content">
                    <input type="text" class="" id="indirizzo" required />
                    <label for="indirizzo">Indirizzo</label>
                    <span class="underline"></span>
                  </dd>
                </dl>
                
                <dl class="inputbox">
                  <dd class="inputbox-content">
                    <input id="ruote" type="text" readonly>
                  </dd>
                </dl> 
              </div>
            </div>

            
            <h2>Caratteristiche tecniche</h2>
              <div class="row" id="specifiche">
                
            
          </div>
        </div>
        <div class="btns text-end">
          <button id="createButton" type="button" class="btn btn-primary btn-confirm">Aggiungi</button>
        </div>
      </section>
    </div>
  </div>

<!--  MODALE  -->
<div class="modal fade" id="veicoloModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="false" data-bs-backdrop="static" data-bs-keyboard="false" >
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="form-login">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Che tipo di veicolo vuoi inserire?</h5>
        </div>
        <div class="modal-body">
					<div class="container text-center">		
          <button id="button-auto" veicolo-cate="AUTO" type="submit" class="btn btn-primary" data-dismiss="modal">Auto</button>
          <button id="button-moto" veicolo-cate="MOTO" type="submit" class="btn btn-primary" data-dismiss="modal">Moto</button>
          <button id="button-bici" veicolo-cate="BICICLETTA" type="submit" class="btn btn-primary" data-dismiss="modal">Bicicletta</button>
          <button id="button-mono" veicolo-cate="MONOPATTINO" type="submit" class="btn btn-primary" data-dismiss="modal">Monopattino</button>
        </div>   
        </div>
             
      </form>
    </div>
  </div>
</div>

 <!-- OFF CANVAS-->
 <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header text-center">
    <h5 id="offcanvasRightLabel">Menu</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body container text-end">
    <div class="ml-3 pd-5"><a href="/pannello-utente">Profilo Personale</a></div>
    <div class="ml-3 pd-5"><a id="logout" href="/logout">Logout</a></div>
  </div>
</div>
  
<!-- HANDLEBARS-->

<script id="template-specs" type="text/x-handlebars-template">
  <div class="col-lg-4">
    <dl class="inputbox">
      <dd class="inputbox-content">
        <input id="potenzaMotore" type="text" class="" required />
        <label for="potenzaMotore">Potenza Motore</label>
        <span class="underline"></span>
      </dd>
    </dl>
    {{#ifEquals categoria "AUTO" "MOTO"}}
    <dl class="inputbox">
      <dd class="inputbox-content">
        <input type="text" class="" id="cambio" required />
        <label for="cambio">Cambio</label>
        <span class="underline"></span>
      </dd>
    </dl>
    {{else}}
    <dl class="inputbox">
      <dd class="inputbox-content">
        <input type="text" class="" id="limitatore" required />
        <label for="limitatore">Limitatore Velocità</label>
        <span class="underline"></span>
      </dd>
    </dl>
    {{/ifEquals}}
    {{#ifEquals categoria "AUTO" "MOTO"}}
    <dl class="inputbox">
      <dd class="inputbox-content">
        <input type="text" class="" id="cilindrata" required />
        <label for="cilindrata">Cilindrata Motore</label>
        <span class="underline"></span>
      </dd>
    </dl>
    {{/ifEquals}}
    {{#ifEquals categoria "BICICLETTA" "MONOPATTINO"}}
    <dl class="inputbox">
      <dd class="inputbox-content">
        <input type="text" class="" id="alimentazioneSpec" required />
        <label for="alimentazione">Alimentazione</label>
        <span class="underline"></span>
      </dd>
    </dl>
    {{/ifEquals}}
  </div>
  <div class="col-lg-4">
    <dl class="inputbox">
      <dd class="inputbox-content">
        <input type="text" class="" id="emissioni" required />
        <label for="emissioni">Emissioni CO2</label>
        <span class="underline"></span>
      </dd>
    </dl>
    {{#ifEquals categoria "AUTO" "MOTO"}}  
  <dl class="inputbox">
    <dd class="inputbox-content">
      <input ype="text" class="" id="cavalli" required />
      <label for="cavalli">Cavalli</label>
      <span class="underline"></span>
    </dd>
  </dl>
  {{else}}
  <dl class="inputbox">
    <dd class="inputbox-content">
      <input ype="text" class="" id="autonomia" required />
      <label for="autonomia">Autonomia</label>
      <span class="underline"></span>
    </dd>
  </dl>
  {{/ifEquals}}
  {{#ifEquals categoria "BICICLETTA" "MONOPATTINO"}}
  <dl class="inputbox">
    <dd class="inputbox-content">
      <input ype="text" class="" id="tempoDiRicarica" required />
      <label for="tempoDiRicarica">Tempo di ricarica</label>
      <span class="underline"></span>
    </dd>
  </dl>
  {{/ifEquals}}
</div>
<div class="col-lg-4">
<dl class="inputbox">
<dd class="inputbox-content">
  <input ype="text" class="" id="velocita" required />
  <label for="velocita">Velocità</label>
  <span class="underline"></span>
</dd>
</dl>
{{#ifEquals categoria "AUTO" "MOTO"}}
<dl class="inputbox">
    <dd class="inputbox-content">
      <input ype="text" class="" id="consumoMedio" required />
      <label for="consumoMedio">Consumo Medio</label>
      <span class="underline"></span>
    </dd>
  </dl>
{{else}}
<dl class="inputbox">
  <dd class="inputbox-content">
    <input ype="text" class="" id="tipoRuota" required />
    <label for="tipoRuota">Tipo di Ruota</label>
    <span class="underline"></span>
  </dd>
</dl> 
{{/ifEquals}}
</div>
</script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <!-- FOOTER -->
  <footer class="bg-dark text-center text-white pt-5 ">
    <!-- Grid container -->

    <!-- Section: Links -->
    <section class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Move Italia</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-white">Chi Siamo</a>
            </li>
            <li>
              <a class="text-white">Lavora con Noi</a>
            </li>
            <li>
              <a class="text-white">Note legali</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contatti</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-white">Tel. 0114472954</a>
            </li>
            <li>
              <a class="text-white">move@gmail.com</a>
            </li>
            <li>
              <a class="text-white" href="">Via Antonio Banfi 8 , MI 20212</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">FAQ</a>
            </li>

           
              <li>
                <a href="#!" class="text-white">Cookies</a>
              </li>
              <li>
                <a href="#!" class="text-white">Privacy Policy</a>
              </li>
            </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <ul class="list-unstyled mb-0">
            <li class="">FOLLOW MOVE</li>
            <li>
              <div class="container p-4">
                <!-- Section: Social media -->
                <section class="mb-2">
                  <!-- Facebook -->
                  <a class="btn btn-outline-light btn-floating m-1 btn-footer" href="#!" role="button"><i
                      class="fab fa-facebook-f"></i></a>

                  <!-- Twitter -->
                  <a class="btn btn-outline-light btn-floating m-1 btn-footer" href="#!" role="button"><i
                      class="fab fa-twitter"></i></a>

                  <!-- Google -->
                  <a class="btn btn-outline-light btn-floating m-1 btn-footer" href="#!" role="button"><i
                      class="fab fa-google"></i></a>

                  <!-- Instagram -->
                  <a class="btn btn-outline-light btn-floating m-1 btn-footer" href="#!" role="button"><i
                      class="fab fa-instagram"></i></a>

                </section>
                <!-- Section: Social media -->
            </li>
            <li class="mb-3">
              <img
                src="https://images-ext-2.discordapp.net/external/NQOoWDHGCRghugM-nYJxFjFui11_9DV2GoeLoyF2StE/https/i.imgur.com/47q2YGt.png"
                alt="" width="150px">
                <img
                src="https://images-ext-2.discordapp.net/external/0DT8yuGJXWsNS6dtUToOH_GkuzDcJXlzvBImeT7vZyo/https/i.imgur.com/nkZP7fe.png"
                alt="" width="150px">
            </li>
            
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">
      © 2022 Copyright: Move - All rights reserved

    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
<script src="https://kit.fontawesome.com/214b84d692.js" crossorigin="anonymous"></script>
<script src="/js/inserimento.js"></script>
<script src="/js/indirizzi-din.js"></script>


</body>


</html>