#filtroStato {
  color: #fefefe;
  text-decoration: none;
}


body{
font-family: 'Nunito Sans', sans-serif;
color:  #141718;
}

h1,h2,h3,h4,h5,h6{
font-family: 'Poppins', sans-serif;
}
p{
font-family: 'Nunito Sans', sans-serif;
font-size: 1.1rem;

}
.vantaggi-title{
font-family: 'Poppins', sans-serif;
}
.vantaggi-description{
font-family: 'Nunito Sans', sans-serif;

}
.riga{
font-family: 'Nunito Sans', sans-serif;

}
.nav-link{
font-family: 'Poppins', sans-serif;
}
.testoColorato{
font-family: 'Poppins', sans-serif;
}

.sec-content h3{
font-family: 'Nunito Sans', sans-serif;

}

/* ------------------------------------ 
              NAVBAR                      
--------------------------------------- */

.navbar {
transition: all .2s ease-in-out;
background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
}

.icona-nav{
color: white;
font-size: 2rem;
}
.container-nav{
padding-top: 60px;
}

.verticalerule p {
color: white;
}

body{
  background-color: #fdf9fd;;
}
.navbar .scrolled-nav{
background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
}


.navbar-nav li a, .navbar-toggler-icon{
color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 500;
}

.hambu i{
color: white;
}

.navbar-toggler:hover, .navbar-toggler:focus {
color: white;
}
.dropdown-menu li a{
color: green;
}

.nav-link:focus, .nav-link:hover, .evidenziato:hover{
font-weight: bold;
color: white;
}

@media (max-width: 991px){
.verticalerule{
   display: none; 
}
}

@media (min-width: 991px){
.testo{
display:none;
}
}

@media (max-width: 991px){
.icone{
display:none;
}
}
/*-------------Reset-------------*/
button {
background: none;
box-shadow: none;
border: none;
cursor: pointer;
}

button:focus,
input:focus {
outline: 0;
}

html {
scroll-behavior: smooth;
}

/*-------------Layout-------------*/
body {
line-height: 1.5em;
padding: 0;
margin: 0;
}


#home {
background-color: #ddd;
}

#about {
background-color: #aaa;
}

#work {
background-color: #888;
}

#contact {
background-color: #666;
}

/*-------------Helpers-------------*/
.skew {
transform: skew(-20deg);
}

.un-skew {
transform: skew(20deg);
}

/*-------------Nav-------------*/
#nav-wrapper {
overflow: hidden;
width: 100%;
margin: 0 auto;
position: fixed;
top: 0;
left: 0;
z-index: 100;
}

#nav {
background-color: #fff;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
font-family: "Saira Semi Condensed", sans-serif;
height: 4em;
overflow: hidden;
}
#nav.nav-visible {
height: 100%;
overflow: auto;
}

.nav {
display: flex;


flex-grow: 1;
}

.nav-link,
.logo {

}


span.gradient:hover {
animation-name: logo-hover;
animation-duration: 0.3s;
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);

}

h1.logo {
font-weight: 300;
font-size: 1.75em;
line-height: 0.75em;
color: #fff;
}

h1.logo a, a:active, a:hover, a:visited {
text-decoration: none;
color: #fff;
}

.nav-link {
text-transform: uppercase;

}



a:hover {

}

.right {
display: flex;
flex-direction: column;
height: 100%;
}

.btn-nav {
color: #f857a8;
padding-left: 2em;
padding-right: 2em;
}

@media (min-width: 800px) {
#nav-wrapper {
overflow: hidden;
}

#nav {
overflow: hidden;
flex-direction: row;
}

.nav-link {
border-top: none;
}

.right {
overflow: hidden;
flex-direction: row;
justify-content: flex-end;
position: relative;
left: 1.5em;
height: auto;
}

.btn-nav {
display: none;
}

.nav a:link.active, a:visited.active, a:active.active {
background: #f857a8;
background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
background: linear-gradient(45deg, #f857a8, #ff5858);
color: #fff;
}

.nav-link-span {
transform: skew(20deg);
display: inline-block;
}

.nav-link {

color: #777;
text-decoration: none;
}
.nav-link:last-child {
padding-right: 3em;
}

a:hover.nav-link:not(.active) {
color: #444;
background: #ddd;
background: linear-gradient(45deg, #fff, #ddd);
}
}
@keyframes logo-hover {
20% {
padding-right: 0em;
}
100% {
padding-right: 5em;
}
}

/* ------------------------------------ 
              SIDEBAR                      
--------------------------------------- */

.tex ul li {
 padding: 0.4rem;
 
}

ul li a{
text-decoration: none;
color: inherit;


}

.tex li a{
  color: #535353;
  font-size: 1.2rem;
  font-weight: 500;
}

  /* color: #009879; */

/* ------------------------------------ 
              FOOTER                   
--------------------------------------- */

.btn-footer{
  border-color: rgba( 255, 255, 255, 0);
  background: #f1da36; /* Old browsers */
  background: -moz-linear-gradient(left, #5AAA4E 0%, #118943 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5AAA4E 0%, #118943 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5AAA4E 0%, #118943 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 ); /* IE6-9 */
  border-radius: 10px;
  padding: 10px 10px;
  width: 48px;
  font-family: 'Dosis', sans-serif;

}

.btn-footer:hover{
color: white;
font-weight: bold;
}

.fab:hover{
color: white;
font-weight: bold;
}

.text-white{
  text-decoration: none;
}



#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* ------------------------------------ 
              TABLE                      
--------------------------------------- */
.demo{ font-family: 'Noto Sans', sans-serif; }

.container-fluid{
    padding-top: 10px;
}

.modal-title{
    color: white;
}

.centro{
    width: 118px;
}

.seleziona{
    width: 50px;
}
.anul{
    width: 97px;
}

.cerca{
    width: 150px;
}

.btn-close{
    color: white;
}  .panel{
  background: linear-gradient(to right,  #066659, #118943);
    padding: 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);
}
.panel .panel-heading{
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}
.panel .panel-heading .title{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 40px;
    margin: 0;
}
.panel .panel-heading .btn{
    color: rgba(255,255,255,0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover{
    color: #fff;
    text-shadow: 3px 3px rgba(255,255,255,0.2);
}
.panel .panel-heading .form-control{
    color: rgb(213, 213, 213);
    background-color: rgba(255, 255, 255, 0.2);
   
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .form-control:focus{
    background-color: rgba(255,255,255,0.2);
    box-shadow: none;
    outline: none;
}
.panel .panel-heading .form-control::placeholder{
    color: rgba(255,255,255,0.5);
    font-size: 15px;
    font-weight: 500;
}
.panel .panel-body{ padding: 0; }
.panel .panel-body .table thead tr th{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
}
.panel .panel-body .table tbody tr td{
    color: #fff;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}
.panel .panel-body .table tbody tr:nth-child(even){ background-color: rgba(255,255,255,0.05); }
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .panel-body .table tbody .action-list li{
    display: inline-block;
    margin: 0 5px;
}
.panel .panel-body .table tbody .action-list li a{
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover{ text-shadow: 3px 3px 0 rgba(255,255,255,0.3); }
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #111;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -32px;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}
.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after{
    display: block;
}
.panel .panel-footer{
    color: #fff;
    background-color: transparent;
    padding: 15px;
    border: none;
}

.pagination{
    justify-content: flex-end;

}


.pagination li{


    padding: 1rem;
}
.panel .panel-footer .col{ line-height: 35px; }
.pagination{ margin: 0; }
.pagination li a{
    color: #fff;
    background-color: transparent;
  /*  border: 2px solid transparent; */
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 31px;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0 3px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.pagination li a:hover{
    color: #fff;
    background-color: transparent;
    border-color: rgba(255,255,255,0.2);
}
.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.pagination li:first-child a,
.pagination li:last-child a{
/*    border-radius: 50%; */
}

.modal-header{
  background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
}

#confermaDelete:hover{
    background-color: red;
    border-color: red;
}



@media only screen and (max-width:767px){
    .panel .panel-heading .title{
        text-align: center;
        margin: 0 0 10px;
    }
    .panel .panel-heading .btn_group{ text-align: center; }
}


/* OFF-CANVAS */

.offcanvas-backdrop {

  position: fixed;
  top: 0;
  
 background-color: transparent;
}
.offcanvas{
 background-color: aliceblue;
}



.offcanvas-header {
  display: flex;
  align-items: center;
  background-color: rgb(71, 109, 142);
  
}

#offcanvasRightLabel{
font-size: 3rem;
}

.offcanvas-body a{
display: block;
margin: auto;
padding: 1rem 1.25rem;
font-family: sans-serif;
font-size: 1.5rem;
text-decoration: none;
color: rgb(0, 0, 0);
position: relative;
transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
z-index: 1;
}
.offcanvas-body a:after {
content: "";
display: block;
height: 2px;
position: absolute;
bottom: 0;
right: 1.25rem;
left: 1.25rem;
background-color: #5aaa4e97;
transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
transform-origin: bottom center;
z-index: -1;
}
.offcanvas-body a:hover {
color: #2D2D2D;
}
.offcanvas-body a:hover:after {
right: 0;
left: 0;
height: 100%;
}


.btn{
  background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
  color: white;
}

.btn-secondary{
  background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
}

.input{
  background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
}

.btn:hover{
    
    color: rgb(179, 179, 179);
}
.btn-secondary:hover{
   
  color: rgb(179, 179, 179);
}
.input:hover{
    
  color: rgb(179, 179, 179);
}

.offcanvas-header {
  display: flex;
  align-items: center;
  background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
}
.btn-primary{
  border-color: white;
}

.btn-primary:hover{
  border-color: white;
}

#confermaDelete:hover{
  background-color: red;
  border-color: red;
}

#thumbnail {
border: 1px solid #ddd; /* Gray border */
border-radius: 4px;  /* Rounded border */
padding: 5px; /* Some padding */
width: 50px; /* Set a small width */
display: inline-block;
background-color: white;
}

#thumbnail:hover {
-webkit-transform: scale(5,5);
}

.anteprima:hover {
transform: scale(3);
background-color: white;
}

@media (min-width: 1400px){
.container {
max-width:1700px
}
}

/* ------------------------------------ 
              MODAL                      
--------------------------------------- */
.disponibile{
padding-top: 37px;
}

.colore {
color: black;

}