#filtroStato {
    color: #fefefe;
    text-decoration: none;
}



/* ------------------------------------ 
                NAVBAR                      
--------------------------------------- */
.container-nav{
    padding-top: 129px;
}
.navbar {
    transition: all .2s ease-in-out;
    background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
  }


  body{
      background-color: #fdf9fd;;
  }
  .navbar .scrolled-nav{
    background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
  }

  nav:hover{
    background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
       
  }
  .navbar-nav li a, .navbar-toggler-icon{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 500;
  }

  .dropdown-menu li a{
    color: green;
}

.nav-link:focus, .nav-link:hover {
  font-weight: bold;
  color: white;
}

@media (max-width: 991px){
 .verticalerule{
       display: none; 
    }
}

/* ------------------------------------ 
                SIDEBAR                      
--------------------------------------- */

 .tex ul li {
   padding: 0.4rem;
   
 }

 ul li a{
  text-decoration: none;
  color: inherit;

  
}

.tex li a{
    color: #535353;
    font-size: 1.2rem;
    font-weight: 500;
  }

    /* color: #009879; */

/* ------------------------------------ 
                FOOTER                   
--------------------------------------- */

.btn-footer{
    border-color: rgba( 255, 255, 255, 0);
    background: #f1da36; /* Old browsers */
    background: -moz-linear-gradient(left, #5AAA4E 0%, #118943 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #5AAA4E 0%, #118943 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #5AAA4E 0%, #118943 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 ); /* IE6-9 */
    border-radius: 10px;
    padding: 10px 10px;
    width: 48px;
    font-family: 'Dosis', sans-serif;

}

.btn-footer:hover{
  color: white;
  font-weight: bold;
}

.fab:hover{
color: white;
font-weight: bold;
}

.text-white{
    text-decoration: none;
  }

  

  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }

  /* ------------------------------------ 
                TABLE                      
--------------------------------------- */
  .demo{ font-family: 'Noto Sans', sans-serif; }

  .container-fluid{
      padding-top: 10px;
  }

  .panel{
    background: linear-gradient(to right,  #066659, #118943);
      padding: 0;
      border-radius: 10px;
      border: none;
      box-shadow: 0 0 0 5px rgba(0,0,0,0.05),0 0 0 10px rgba(0,0,0,0.05);
  }
  .panel .panel-heading{
      padding: 20px 15px;
      border-radius: 10px 10px 0 0;
      margin: 0;
  }
  .panel .panel-heading .title{
      color: #fff;
      font-size: 28px;
      font-weight: 500;
      text-transform: capitalize;
      line-height: 40px;
      margin: 0;
  }
  .panel .panel-heading .btn{
      color: rgba(255,255,255,0.5);
      background: transparent;
      font-size: 16px;
      text-transform: capitalize;
      border: 2px solid #fff;
      border-radius: 50px;
      transition: all 0.3s ease 0s;
  }
  .panel .panel-heading .btn:hover{
      color: #fff;
      text-shadow: 3px 3px rgba(255,255,255,0.2);
  }
  .panel .panel-heading .form-control{
      color: #fff;
      background-color: transparent;
      width: 35%;
      height: 40px;
      border: 2px solid #fff;
      border-radius: 20px;
      display: inline-block;
      transition: all 0.3s ease 0s;
  }
  .panel .panel-heading .form-control:focus{
      background-color: rgba(255,255,255,0.2);
      box-shadow: none;
      outline: none;
  }
  .panel .panel-heading .form-control::placeholder{
      color: rgba(255,255,255,0.5);
      font-size: 15px;
      font-weight: 500;
  }
  .panel .panel-body{ padding: 0; }
  .panel .panel-body .table thead tr th{
      color: #fff;
      background-color: rgba(255, 255, 255, 0.2);
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 12px;
      border: none;
  }
  .panel .panel-body .table tbody tr td{
      color: #fff;
      font-size: 15px;
      padding: 10px 12px;
      vertical-align: middle;
      border: none;
  }
  .panel .panel-body .table tbody tr:nth-child(even){ background-color: rgba(255,255,255,0.05); }
  .panel .panel-body .table tbody .action-list{
      padding: 0;
      margin: 0;
      list-style: none;
  }
  .panel .panel-body .table tbody .action-list li{
      display: inline-block;
      margin: 0 5px;
  }
  .panel .panel-body .table tbody .action-list li a{
      color: #fff;
      font-size: 15px;
      position: relative;
      z-index: 1;
      transition: all 0.3s ease 0s;
  }
  .panel .panel-body .table tbody .action-list li a:hover{ text-shadow: 3px 3px 0 rgba(255,255,255,0.3); }
  .panel .panel-body .table tbody .action-list li a:before,
  .panel .panel-body .table tbody .action-list li a:after{
      content: attr(data-tip);
      color: #fff;
      background-color: #111;
      font-size: 12px;
      padding: 5px 7px;
      border-radius: 4px;
      text-transform: capitalize;
      display: none;
      transform: translateX(-50%);
      position: absolute;
      left: 50%;
      top: -32px;
      transition: all 0.3s ease 0s;
  }
  .panel .panel-body .table tbody .action-list li a:after{
      content: '';
      height: 15px;
      width: 15px;
      padding: 0;
      border-radius: 0;
      transform: translateX(-50%) rotate(45deg);
      top: -18px;
      z-index: -1;
  }
  .panel .panel-body .table tbody .action-list li a:hover:before,
  .panel .panel-body .table tbody .action-list li a:hover:after{
      display: block;
  }
  .panel .panel-footer{
      color: #fff;
      background-color: transparent;
      padding: 15px;
      border: none;
  }
  .panel .panel-footer .col{ line-height: 35px; }
  .pagination{ margin: 0; }
  .pagination li a{
      color: #fff;
      background-color: transparent;
      border: 2px solid transparent;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      line-height: 31px;
      width: 35px;
      height: 35px;
      padding: 0;
      margin: 0 3px;
      border-radius: 50px;
      transition: all 0.3s ease 0s;
  }
  .pagination li a:hover{
      color: #fff;
      background-color: transparent;
      border-color: rgba(255,255,255,0.2);
  }
  .pagination li a:focus,
  .pagination li.active a,
  .pagination li.active a:hover{
      color: #fff;
      background-color: transparent;
      border-color: #fff;
  }
  .pagination li:first-child a,
  .pagination li:last-child a{
      border-radius: 50%;
  }

  .modal-header{
    background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
  }

  #confermaDelete{
      background-color: red;
      border-color: red;
  }

  #confermaDelete:hover{
    background-color: rgb(174, 0, 0);
    border-color: rgb(174, 0, 0);
  }

  @media only screen and (max-width:767px){
      .panel .panel-heading .title{
          text-align: center;
          margin: 0 0 10px;
      }
      .panel .panel-heading .btn_group{ text-align: center; }
  }