.swiper{
    padding-bottom: 3rem;
}

.grafico{
    border: 1px solid black;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 5rem;
}

svg{
    width: 20px;
}

nav{
    background-color: #212529;
}