body{
    font-family: 'Montserrat', sans-serif;
}



.swiper{
    padding-bottom: 3rem;
}

.swiper-button-prev{
    color: green;
}

.swiper-button-next{
    color: green;
}

.grafico{
    border: 1px solid black;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 5rem;
}

.banner{
    background-image: url("https://enjoy.eni.com/img/home/bg_map_milano.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .ban img{
    width: 90%;
}

.banner .info{
    height: 200px;
}

.banner .info p{
    font-size: 2.3rem;
    color: white;
}
.banner .info span{
    color: #7ab423;
}


.logo{
    width: 200px;
}

.dropdown-menu li a{
    color: green;
}


.banner{
  display: flex;   
  flex-direction: column; 
  align-items: center;
  justify-content: end; 
  
}

.backg{
    background-image: url("https://images.ctfassets.net/ro7z507xvlp4/6RBkiwkjjmYaO7ChCyIlH7/4b6fbbb97db332633e91c9fa590cf695/new_fleet.png?q=80&fm=png&w=3200");

    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
    background-position:center;
  }


.cta{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);

}

.cards ul{
    list-style-type: none;
    padding: 0;

}

.icon-inside{
    position: relative;
}

.icon-inside i{
    position: absolute;
    right:1rem;
    top:70%;
    transform: translateY(-70%);
    color:#30A3F1;
}

.contenitore .col p{
    color: white;
    font-size: 1.2rem;
}

nav:hover{
  background: linear-gradient(189deg, rgba(96,223,9,1) 34%, rgba(190,255,4,1) 61%);
     
}

.navbar-nav li a{
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.contenitore img{
    width: 100px;
}

.contenitore a{
    color: rgb(255, 255, 255);
    padding-left: 1.5rem;
    font-size: 1.1rem;
}

.contenitore ul li a:hover{

    color: rgb(3, 183, 3);
}

.container .btn{
    background-color: rgb(3, 183, 3);
    color: white;
}

.contenitore .swiper-button-prev{
    background-color: rgb(3, 183, 3);
}

.text-white{
    text-decoration: none;
}




.modal-body {
    display: flex;
    padding: 0;
    border-radius: 4rem;
    font-family: 'PT Sans', sans-serif;
  }

  .modal-body h1 {
    padding-top: 3rem;
  }
  
  .modal-content {
    border-radius: 4rem;
    width: 140%;
    -webkit-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
  -moz-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
  box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
  }
  .modal-content h1, .modal-content h2, .modal-content h3 {
      text-align: center;
  }
  .modal-content h1 {
    font-size: 1.3em;
    text-transform: uppercase;
  }
  
  .modal-content h2 {
      font-size: 1.1em;
  }
  .modal-content h3 {
    font-size: .8em;
    letter-spacing: 2px;
  }
  form {
      font-size: .8em;
  }
  .column {
    flex: 50%;
    padding: 10px;
  }

  h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #wo i{
      font-size: 3rem;
      text-transform: uppercase;
      background: linear-gradient(189deg, rgba(96,223,9,1) 34%, rgba(190,255,4,1) 61%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Poppins", sans-serif;
    
  }

  #wa i{
    font-size: 72px;
    background: linear-gradient(0deg, rgba(96,223,9,1) 34%, rgba(190,255,4,1) 61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 0.5rem;
  }
  h2, h4{
    color: #eee;
  }


  
  .column#main {
    flex: 75%;
    padding: 50px;
    margin-top: 30px;
    margin-left: 15px;
  }
  
  #secondary {
    background: linear-gradient(287deg,#9df136 0%, #27ea1d 99% 100%);
    border-radius: 0 4rem 4rem 0;
    text-align: center;
  }

  #secondary h2, h3{
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  #main{
    
  }
  
  #main .form-control {
    border-radius: 0;
    font-size: .9em;
    padding-top: 1rem;
  }

  #main h1, h3{
    font-weight: 500;
  
  }
  
 
  
  .btn-primary {
    border-color: rgba( 255, 255, 255, 0);
    background: #f1da36; /* Old browsers */
  background: -moz-linear-gradient(left, #9df136 0%, #27ea1d 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #9df136 0%, #27ea1d 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #9df136 0%, #27ea1d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 ); /* IE6-9 */
  
  }

  .modal-body label {
    margin-bottom: 0;
  }
  
  .sec-content {
    margin-top: 85%;
  }


  /* CARDS */


.header_search {
  float: right;
  padding: 16px 0;
  position: relative;
}
#header-search-form::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
  border-style: solid;
  border-width: 7px;
  content: "";
  position: absolute;
  right: 9px;
  top: -13px;
  display:none;
}
.header_search input {
  background: #ffffff none repeat scroll 0 0;
  border: 0 none;
  height: 38px;
  padding-right: 45px;
  width: 227px;
}
.header_search button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #555555;
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
#search_toggle {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 2px;
  cursor: pointer;
  display:none;
  margin-top: 1px;
  padding: 5px 10px;
}

.uppercase_text {
  color: #111;
  font-size: 15px;
  font-weight: 900;
  line-height: 17px;
  margin: 0;
  text-transform: uppercase;
}

.header_info {
  float: right;
  text-align: right;
}

.header_widgets {
  display: inline-block;
  width: 260px;
  text-align: left;
}

.circle_icon {
  border: 1px solid #000;
  border-radius: 50%;
  color: #555;
  float: left;
  font-size: 17px;
  height: 40px;
  line-height: 35px;
  margin-right: 10px;
  text-align: center;
  width: 40px;
}

.circle_icon {
  color: #555;
  font-size: 17px;
  line-height: 35px;
  text-align: center;
}

.header_widgets a {
  color: #555;
}