body{
    font-family: 'Montserrat', sans-serif;
}

.swiper{
    padding-bottom: 3rem;
}

.swiper-button-prev{
    color: green;
}

.swiper-button-next{
    color: green;
}

.grafico{
    border: 1px solid black;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 5rem;
}

.banner{
    background-image: url("https://enjoy.eni.com/img/home/bg_map_milano.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner .ban img{
    width: 90%;
}

.banner .info{
    height: 200px;
}

.banner .info p{
    font-size: 2.3rem;
    color: white;
}
.banner .info span{
    color: #7ab423;
}


.logo{
    width: 200px;
}

.dropdown-menu li a{
    color: green;
}

.btnf i {
  background-color: rgb(3, 183, 3);
  color: white;
}

.btnf{
  
}
.banner{
  display: flex;   
  flex-direction: column; 
  align-items: center;
  justify-content: end; 
  
}

.contenitore{
    background-image: radial-gradient(circle, rgba(0,0,0,0.3169861694677871) 0%, rgba(0,0,0,0.7231486344537815) 100%), url("https://cdn.auto.it/img/960/540/2019/07/19/105220073-c634c5d5-9086-4d10-afe5-f8ea32aac4a1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 690px; 
    filter: opacity(100%);   
}

.cards ul{
    list-style-type: none;
    padding: 0;

}

.icon-inside{
    position: relative;
}

.icon-inside i{
    position: absolute;
    right:1rem;
    top:50%;
    transform: translateY(-50%);
    color:#30A3F1;
}

.contenitore .col p{
    color: white;
    font-size: 1.2rem;
}

nav{
    border-bottom: 1px solid white;
}

.contenitore img{
    width: 100px;
}

.contenitore a{
    color: rgb(255, 255, 255);
    padding-left: 1.5rem;
    font-size: 1.1rem;
}

.contenitore ul li a:hover{

    color: rgb(3, 183, 3);
}

.container .btn{
    background-color: rgb(3, 183, 3);
    color: white;
}

.contenitore .swiper-button-prev{
    background-color: rgb(3, 183, 3);
}

.text-white{
    text-decoration: none;
}


/* CSS */
.button-6 {
  align-items: center;
  background-color: rgb(3, 183, 3);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(255, 255, 255, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.modal-body {
    display: flex;
    padding: 0;
    border-radius: 4rem;
    font-family: 'PT Sans', sans-serif;
  }

  .modal-body h1 {
    padding-top: 3rem;
  }
  
  .modal-content {
    border-radius: 4rem;
    width: 140%;
    -webkit-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
  -moz-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
  box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
  }
  .modal-content h1, .modal-content h2, .modal-content h3 {
      text-align: center;
  }
  .modal-content h1 {
    font-size: 1.3em;
    text-transform: uppercase;
  }
  
  .modal-content h2 {
      font-size: 1.1em;
  }
  .modal-content h3 {
    font-size: .8em;
    letter-spacing: 2px;
  }
  form {
      font-size: .8em;
  }
  .column {
    flex: 50%;
    padding: 10px;
  }

  h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #wo i{
      font-size: 3rem;
      text-transform: uppercase;
      background: linear-gradient(189deg, rgba(96,223,9,1) 34%, rgba(190,255,4,1) 61%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: "Poppins", sans-serif;
    
  }

  #wa i{
    font-size: 72px;
    background: linear-gradient(0deg, rgba(96,223,9,1) 34%, rgba(190,255,4,1) 61%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 0.5rem;
  }
  h2, h4{
    color: #eee;
  }


  
  .column#main {
    flex: 75%;
    padding: 50px;
    margin-top: 30px;
    margin-left: 15px;
  }
  
  #secondary {
    background: linear-gradient(287deg,#9df136 0%, #27ea1d 99% 100%);
    border-radius: 0 4rem 4rem 0;
    text-align: center;
  }
  
  #main .form-control {
    border-radius: 0;
    font-size: .9em;
  }
  
  .btn {
    text-transform: uppercase;
    border-radius: .15rem;
    width: 200px;
    padding: .150rem .75rem;
    margin: 30px auto;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 2px;
  }
  
  .btn-primary {
    border-color: rgba( 255, 255, 255, 0);
    background: #f1da36; /* Old browsers */
  background: -moz-linear-gradient(left, #9df136 0%, #27ea1d 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #9df136 0%, #27ea1d 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #9df136 0%, #27ea1d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 ); /* IE6-9 */
  
  }
  
  .btn-primary:hover {
    border-color: rgba( 255, 255, 255, 0);
  }
  
  #main .btn-primary {
    width: 100%;
  }
  #secondary .btn-primary {
    background: #f8f9fa4f;
    color: #000;
  }
  .modal-body label {
    margin-bottom: 0;
  }
  
  .sec-content {
    margin-top: 85%;
  }


  /* CARDS */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background: #F5F1EE;
    font-family: 'Roboto', sans-serif
}

.card {
    width: 250px;
    border-radius: 10px
}

.card-img-top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px
}

span.text-muted {
    font-size: 12px
}

small.text-muted {
    font-size: 8px
}

h5.mb-0 {
    font-size: 1rem
}

small.ghj {
    font-size: 9px
}

.mid {
    background: #ECEDF1
}

h6.ml-1 {
    font-size: 13px
}

small.key {
    text-decoration: underline;
    font-size: 9px;
    cursor: pointer
}

.btn-danger {
    color: #FFCBD2
}

.btn-danger:focus {
    box-shadow: none
}

small.justify-content-center {
    font-size: 9px;
    cursor: pointer;
    text-decoration: underline
}

@media screen and (max-width:600px) {
    .col-sm-4 {
        margin-bottom: 50px
    }
}

#map { 
  height: 720px;
}