


.swiper{
    padding-bottom: 3rem;
}

.grafico{
    border: 1px solid black;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 5rem;
}
.logo{
    width: 200px;
}

svg{
    width: 20px;
}

.contento{
    background-image: radial-gradient(circle, rgba(0,0,0,0.3169861694677871) 0%, rgba(0,0,0,0.7231486344537815) 100%), url("https://cdn.auto.it/img/960/540/2019/07/19/105220073-c634c5d5-9086-4d10-afe5-f8ea32aac4a1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 690px; 
    filter: opacity(100%);   

}

.cards ul{
    list-style-type: none;
    padding: 0;

}

.contento .col p{
    color: white;
    font-size: 1.2rem;
}

nav{
    border-bottom: 1px solid white;
}

.contento img{
    width: 100px;
}

.contento a{
    color: rgb(255, 255, 255);
    margin-left: 1.5rem;
    font-size: 1.1rem;
}

.contento ul li a:hover{

    color: rgb(3, 183, 3);
}

.container .btn{
    background-color: rgb(3, 183, 3);
    color: white;
}

.contento .swiper-button-prev{
    background-color: rgb(3, 183, 3);
}

.text-white{
    text-decoration: none;
}


/* CSS */
.button-6 {
  align-items: center;
  background-color: rgb(3, 183, 3);
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(255, 255, 255, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.swiper-button-prev{
    color: green;
}

.swiper-button-next{
    color: green;
}

.swiper-slide img{
    padding: 8rem;
}

.group-specifications {
    background-color: #f4f5f6;
    padding: 1px 0;
}

#main .pane-title {
    text-align: center;
}

.group-specifications .pane-title {
    font-weight: 300;
    font-family: BNPLightCond,sans-serif;
    color: #666;
    padding-top: 50px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.group-specifications .pane-title.open+.pane-content, .group-specifications .title-group.open+.group-wrapper>li {
    display: block;
}

.group-specifications .pane-content {
    display: none;
    padding: 0 30px 0 70px;
}

.group-specifications .title-group, .group-specifications .title-group-opt {
    font-size: 26px;
    text-align: left;
    margin-bottom: 0;
    font-family: BNPCond,sans-serif;
    text-transform: uppercase;
    color: #333;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.group-specifications .group-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    clear: right;
    padding: 10px 0;
    list-style: none;
    padding-bottom: 50px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.group-specifications .group-wrapper>li span.field-label {
    font-weight: 700;
    color: #333;
    padding-top: 3px;
    display: inline-block;
}

.group-specifications .pane-title.open+.pane-content, .group-specifications .title-group.open+.group-wrapper>li {
    display: block;
}

.group-specifications .group-wrapper>li span.field-item.field_offer_co2.cl-A {
    background: url("https://www.arval.it/sites/all/themes/arval/images/CO2/A.png") no-repeat left center;
}
.group-specifications .group-wrapper>li span.field-item.field_offer_co2 {
    height: 46px;
    font-size: 0;
    line-height: 46px;
    padding-left: 40px;
}

.group-specifications .group-wrapper>li span.value {
    float: right;
    font-family: BNPLight,sans-serif;
    font-size: 15px;
    padding-top: 3px;
}

.group-specifications .group-wrapper>li {
    flex: 1 1 30%;
    margin: 0 40px 0 0;
    height: auto;
    min-height: 46px;
    line-height: 46px;
    border-top: 1px solid rgba(0,0,0,.1);
    display: none;
}

.group-specifications .pane-title.open+.pane-content, .group-specifications .title-group.open+.group-wrapper>li {
    display: block;
}

.group-specifications .group-wrapper li.empty {
    border: none;
}

.group-specifications .group-wrapper>li {
    flex: 1 1 30%;
    margin: 0 40px 0 0;
    height: auto;
    min-height: 46px;
    line-height: 46px;
    border-top: 1px solid rgba(0,0,0,.1);
    display: none;
}
@media screen and (max-width: 1400px) {
    #page-title, #sliding-popup .popup-content, .easy-breadcrumb, .pane-title, .wrapper {
        padding: 0 20px;
    }
}