body{
  font-family: 'Nunito Sans', sans-serif;
  color:  #141718;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}
p{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.1rem;
  
}
.vantaggi-title{
  font-family: 'Poppins', sans-serif;
}
.vantaggi-description{
  font-family: 'Nunito Sans', sans-serif;
  
}
.riga{
  font-family: 'Nunito Sans', sans-serif;

}
.nav-link{
  font-family: 'Poppins', sans-serif;
}
.testoColorato{
  font-family: 'Poppins', sans-serif;
}

.sec-content h3{
  font-family: 'Nunito Sans', sans-serif;
  
}
/* ------------------------------------ 
                NAVBAR                      
--------------------------------------- */

.navbar {
  transition: all .2s ease-in-out;
  background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
}

.icona-nav{
  color: white;
  font-size: 2rem;
}
.container-nav{
  padding-top: 60px;
}

.verticalerule p {
color: white;
}

body{
    background-color: #fdf9fd;;
}
.navbar .scrolled-nav{
  background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
}

nav:hover{
  background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
     
}
.navbar-nav li a, .navbar-toggler-icon{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}

.hambu i{
  color: white;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  color: white;
}
.dropdown-menu li a{
  color: green;
}

.nav-link:focus, .nav-link:hover, .evidenziato:hover{
font-weight: bold;
color: white;
}

@media (max-width: 991px){
.verticalerule{
     display: none; 
  }
}

@media (min-width: 991px){
.testo{
  display:none;
}
}

@media (max-width: 991px){
.icone{
  display:none;
}
}
/*-------------Reset-------------*/
button {
background: none;
box-shadow: none;
border: none;
cursor: pointer;
}

button:focus,
input:focus {
outline: 0;
}

html {
scroll-behavior: smooth;
}

/*-------------Layout-------------*/
body {
line-height: 1.5em;
padding: 0;
margin: 0;
}


#home {
background-color: #ddd;
}

#about {
background-color: #aaa;
}

#work {
background-color: #888;
}

#contact {
background-color: #666;
}

/*-------------Helpers-------------*/
.skew {
transform: skew(-20deg);
}

.un-skew {
transform: skew(20deg);
}

/*-------------Nav-------------*/
#nav-wrapper {
overflow: hidden;
width: 100%;
margin: 0 auto;
position: fixed;
top: 0;
left: 0;
z-index: 100;
}

#nav {
background-color: #fff;
box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
font-family: "Saira Semi Condensed", sans-serif;
height: 4em;
overflow: hidden;
}
#nav.nav-visible {
height: 100%;
overflow: auto;
}

.nav {
display: flex;


flex-grow: 1;
}

.nav-link,
.logo {

}


span.gradient:hover {
animation-name: logo-hover;
animation-duration: 0.3s;
animation-fill-mode: forwards;
animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);

}

h1.logo {
font-weight: 300;
font-size: 1.75em;
line-height: 0.75em;
color: #fff;
}

h1.logo a, a:active, a:hover, a:visited {
text-decoration: none;
color: #fff;
}

.nav-link {
text-transform: uppercase;

}



a:hover {

}

.right {
display: flex;
flex-direction: column;
height: 100%;
}

.btn-nav {
color: #f857a8;
padding-left: 2em;
padding-right: 2em;
}

@media (min-width: 800px) {
#nav-wrapper {
  overflow: hidden;
}

#nav {
  overflow: hidden;
  flex-direction: row;
}

.nav-link {
  border-top: none;
}

.right {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  left: 1.5em;
  height: auto;
}

.btn-nav {
  display: none;
}

.nav a:link.active, a:visited.active, a:active.active {
  background: #f857a8;
  background: -webkit-linear-gradient(45deg, #f857a8, #ff5858);
  background: linear-gradient(45deg, #f857a8, #ff5858);
  color: #fff;
}

.nav-link-span {
  transform: skew(20deg);
  display: inline-block;
}

.nav-link {
  
  color: #777;
  text-decoration: none;
}
.nav-link:last-child {
  padding-right: 3em;
}

a:hover.nav-link:not(.active) {
  color: #444;
  background: #ddd;
  background: linear-gradient(45deg, #fff, #ddd);
}
}
@keyframes logo-hover {
20% {
  padding-right: 0em;
}
100% {
  padding-right: 5em;
}
}

.text-white{
    text-decoration: none;
}

.swiper-button-prev{
    color: green;
}

.swiper-button-next{
    color: green;
}


.group-specifications {
    background-color: #f4f5f6;
    padding: 1px 0;
}

#main .pane-title {
    text-align: center;
}

.group-specifications .pane-title {
    font-weight: 300;
    font-family: BNPLightCond,sans-serif;
    color: #666;
    padding-top: 50px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.group-specifications .pane-title.open+.pane-content, .group-specifications .title-group.open+.group-wrapper>li {
    display: block;
}

.group-specifications .pane-content {
    display: none;
    padding: 0 30px 0 70px;
}

.group-specifications .title-group, .group-specifications .title-group-opt {
    font-size: 26px;
    text-align: left;
    margin-bottom: 0;
    font-family: BNPCond,sans-serif;
    text-transform: uppercase;
    color: #333;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.group-specifications .group-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    clear: right;
    padding: 10px 0;
    list-style: none;
    padding-bottom: 50px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media(max-width: 768px){
    .group-wrapper{
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.group-specifications .group-wrapper>li span.field-label {
    font-weight: 700;
    color: #333;
    padding-top: 3px;
    display: inline-block;
}

.group-specifications .pane-title.open+.pane-content, .group-specifications .title-group.open+.group-wrapper>li {
    display: block;
}



.group-specifications .group-wrapper>li span.field-item.field_offer_co2.cl-A {
    background: url("https://www.arval.it/sites/all/themes/arval/images/CO2/A.png") no-repeat left center;
}
.group-specifications .group-wrapper>li span.field-item.field_offer_co2 {
    height: 46px;
    font-size: 0;
    line-height: 46px;
    padding-left: 40px;
}

.group-specifications .group-wrapper>li span.value {
    float: right;
    font-family: BNPLight,sans-serif;
    font-size: 15px;
    padding-top: 3px;
}

.group-specifications .group-wrapper>li {
    flex: 1 1 30%;
    margin: 0 40px 0 0;
    height: auto;
    min-height: 46px;
    line-height: 46px;
    border-top: 1px solid rgba(0,0,0,.1);
    display: none;
}

.group-specifications .pane-title.open+.pane-content, .group-specifications .title-group.open+.group-wrapper>li {
    display: block;
}

.group-specifications .group-wrapper li.empty {
    border: none;
}

.group-specifications .group-wrapper>li {
    flex: 1 1 30%;
    margin: 0 40px 0 0;
    height: auto;
    min-height: 46px;
    line-height: 46px;
    border-top: 1px solid rgba(0,0,0,.1);
    display: none;
}
/* ///////MAP/////////// */
.banner{
  display: flex;   
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  padding-bottom: 1rem;
}   

#map{
  min-height: 700px;
  width: 100%;
  min-width: 1350px;
}

@media(max-width:1000px){
  #map{
    min-height: 700px;
    width: 100%;
    min-width: 700px;
  }
}

@media(max-width:700px){
  #map{
    min-height: 700px;
    width: 100%;
    min-width: 350px;
  }
}
/* ------------------------------------ 
                MODAL                   
--------------------------------------- */
.modal-body {
  display: flex;
  padding: 0;
  border-radius: 4rem;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.modal-body h1 {
  padding-top: 3rem;
}

.modal-content {
  border-radius: 4rem;
  width: 90%;
  -webkit-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
-moz-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
}
.modal-content h1, .modal-content h2, .modal-content h3 {
    text-align: center;

    
}
.modal-content h1 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.modal-content h2 {
    font-size: 1.1em;
    
}
.modal-content h3 {
  font-size: 1rem;
  letter-spacing: 2px;
  color: black;
}
form {
  font-size: 1rem;
}
.column {
flex: 50%;
padding: 10px;
}
.column#main {
  flex: 75%;
  padding: 50px;
  margin-top: 30px;
  margin-left: 15px;
}

#secondary {
  background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
  border-radius: 0 4rem 4rem 0;
  text-align: center;
  
}

#secondary h2, h3{
  color: white;
  font-weight: 500;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

#main .form-control {
  border-radius: 0;
  font-size: .9em;
  
}

#main h1, h3{
  font-weight: 500;
}

.modal-body label {
  margin-bottom: 0;
}

.sec-content {
  margin-top: 85%;
}


.icon-inside{
position: relative;
}

.icon-inside i{
position: absolute;
right:1rem;
top:70%;
transform: translateY(-70%);
color:#30A3F1;
}
 /* ------------------------------------ 
                FOOTER                   
--------------------------------------- */

.btn-footer{
  border-color: rgba( 255, 255, 255, 0);
  background: #f1da36; /* Old browsers */
  background: -moz-linear-gradient(left, #5AAA4E 0%, #118943 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #5AAA4E 0%, #118943 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #5AAA4E 0%, #118943 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 ); /* IE6-9 */
  border-radius: 10px;
  padding: 10px 15px;
  width: 48px;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}
.btn-footer:hover{
  color: white;
  font-weight: bold;
}

.fab:hover{
color: white;
font-weight: bold;
}

.text-white{
    text-decoration: none;
  }

  .btn2{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    padding: 18px 45px;
    border-radius: 45px;
    font-weight: 500;
    background: -moz-linear-gradient(left, #5AAA4E 0%, #118943 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #5AAA4E 0%, #118943 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #5AAA4E 0%, #118943 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 ); /* IE6-9 */
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
}


  /* ------------------------------------ 
            BOTTONE TORNA TOP                   
--------------------------------------- */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: white;
  background-color: green;
  border: white;
}
#btn-back-to-top:hover{
  font-weight: bold;
}



/* OFF-CANVAS */

.offcanvas-backdrop {
  
  position: fixed;
  top: 0;
  
 background-color: transparent;
}
.offcanvas{
 background-color: aliceblue;
}



.offcanvas-header {
  display: flex;
  align-items: center;
  background-color: rgb(71, 109, 142);
  
}

#offcanvasRightLabel{
font-size: 3rem;
}

.offcanvas-body a{
display: block;
margin: auto;
padding: 1rem 1.25rem;
font-family: sans-serif;
font-size: 1.5rem;
text-decoration: none;
color: rgb(0, 0, 0);
position: relative;
transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
z-index: 1;
}
.offcanvas-body a:after {
content: "";
display: block;
height: 2px;

position: absolute;
bottom: 0;
right: 1.25rem;
left: 1.25rem;
background-color: #5aaa4e97;
transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
transform-origin: bottom center;
z-index: -1;
}
.offcanvas-body a:hover {
color: #2D2D2D;
}
.offcanvas-body a:hover:after {
right: 0;
left: 0;
height: 100%;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  background: linear-gradient(189deg, #118943  34%, #5aaa4e 61%);
}